In [77]:
print("hello world")

hello world

## python programming 101
- variables
- data types
- data structures
- function
- control flow

In [78]:
# basic expression
## retun the calculation without print statements
1+1

2

In [79]:
## the code read from up to down so it will print only latest calculation
1+2
2+2

4

In [80]:
print(8//5) # floor division
print(8%5) # modulo
pow(2,5) # powering
abs(-2032) # absolute

1
3

2032

In [81]:
# compare operators
1+1 == 2

True

In [82]:
## variables
my_name = "James"
print("my name is", my_name)

my name is James

In [83]:
## delete variable
del my_name
try:
    my_name
except:
    print("The variable is not defined")

The variable is not defined

In [84]:
## print the string
my_name = "james"
age = 40
job = "British spy"

f"My name is {my_name}, {age} years old {job}"

'My name is james, 40 years old British spy'

In [85]:
# traditional way of fstring
"Hi my name is {}".format(my_name)

'Hi my name is james'

In [86]:
print(2, 5, 100) # print multiple variables

2 5 100

In [87]:
print("Hello\nworld") # new line

Hello
world

In [88]:
print("Hello\tWorld") # tab

Hello	World

In [89]:
print('I\'m Bond, James Bond')

I'm Bond, James Bond

In [90]:
print(
    '''
    Hello world.
    I don't know how much time I'm learning Python Basics.
    But it's still fantastic AF.
    '''
)

    Hello world.
    I don't know how much time I'm learning Python Basics.
    But it's still fantastic AF.

## data types in python
- int
- float
- string
- bool

In [91]:
## casting data types
x = 1
print(x, type(x))

x = str(x)
print(x, type(x))

x = bool(x)
print(x, type(x))

x = float(x)
print(x, type(x))

1 <class 'int'>
1 <class 'str'>
True <class 'bool'>
1.0 <class 'float'>

In [92]:
# bool 0 is false, otherwise is true
print(bool(0))
print(bool(123))

False
True

In [93]:
# get input from user
username = input("what's your name")
surname = input("what's your surname")
f"Hi, your name is {surname}, {username} {surname}"

'Hi, your name is ,  '

In [94]:
## type hint (since python is dynamic data type so it will not force the data types)
age: int = 20
gpa: float = 3.5

In [95]:
print(age, type(age))
print(gpa, type(gpa))

20 <class 'int'>
3.5 <class 'float'>

In [96]:
## define custom function
def addition(x,y):
    return x + y

z = addition(123, 345)
print(z)

468

In [97]:
## define zero arguments function
def whatsyourname():
    return "My name's Bond, James Bond"

whatsyourname()

"My name's Bond, James Bond"

In [98]:
## define function with default arguments
def greetings(name="James", surname="Bond"):
    return f"My name's {surname}, {name} {surname}"

In [99]:
print(greetings("Harry", "Potter"))
print(greetings())

My name's Potter, Harry Potter
My name's Bond, James Bond

In [100]:
## receive input from users
def greetings_2(name="James", surname="Bond"):
    name = input("What's your name? ")
    surname = input("Well, what's your surname? ")
    return f"My name's {surname}, {name} {surname}"

In [101]:
greetings_2()

"My name's ,  "

In [102]:
## funciton which return multiple values
def demo():
    name1 = input("What's your name? ")
    name2 = input("Well, what's your another name? ")
    return name1, name2 # return as tuples

In [103]:
demo()

('', '')

In [104]:
## tuple unpacking by assignment onto multiple variables
friend1, friend2 = demo()
f"Your friend's name is {friend1} \n,and another one named {friend2}"

"Your friend's name is  \n,and another one named "

In [105]:
## data structures (list, tuples, dictionary, set)

In [106]:
## list is the variables which could store multiple values
shopping_list = ["Coat","Bracelet","Rope","Rifles","Pendant",1000] # it could storer multiple type of values
shopping_list

['Coat', 'Bracelet', 'Rope', 'Rifles', 'Pendant', 1000]

In [107]:
# to add new item into list, we need to 'append' the new items
shopping_list.append("Bayonet")
shopping_list

['Coat', 'Bracelet', 'Rope', 'Rifles', 'Pendant', 1000, 'Bayonet']

In [108]:
# add the new item into specified order of list
shopping_list.insert(0,"Pistols") # add into index 0 (the first items)
shopping_list

['Pistols', 'Coat', 'Bracelet', 'Rope', 'Rifles', 'Pendant', 1000, 'Bayonet']

In [109]:
# update values on list
shopping_list[6] = "Saber"
shopping_list

['Pistols',
 'Coat',
 'Bracelet',
 'Rope',
 'Rifles',
 'Pendant',
 'Saber',
 'Bayonet']

In [110]:
# remove the item
shopping_list.remove("Saber")
shopping_list

['Pistols', 'Coat', 'Bracelet', 'Rope', 'Rifles', 'Pendant', 'Bayonet']

In [111]:
shopping_list.pop()
shopping_list

['Pistols', 'Coat', 'Bracelet', 'Rope', 'Rifles', 'Pendant']

In [113]:
# join 2 list together
item1 = ["Coat","Rope","Armor"]
item2 = ["Rifles","Bracelet","Saber"]
basket = item1 + item2
basket

['Coat', 'Rope', 'Armor', 'Rifles', 'Bracelet', 'Saber']

In [115]:
basket.sort()
basket

['Armor', 'Bracelet', 'Coat', 'Rifles', 'Rope', 'Saber']

In [116]:
basket.reverse()
basket

['Saber', 'Rope', 'Rifles', 'Coat', 'Bracelet', 'Armor']

In [117]:
fruit1 = ['lemon','orange']
fruit2 = fruit1
fruit1[0] = 'roseapple'
print(fruit1, fruit2) # this shows that list is the mutable objects

['roseapple', 'orange'] ['roseapple', 'orange']

In [118]:
# so we need to use 'copy' method
fruit1 = ['lemon','orange']
fruit2 = fruit1.copy()
fruit1[0] = 'roseapple'
print(fruit1, fruit2)

['roseapple', 'orange'] ['lemon', 'orange']

In [119]:
# on the other hand, tuples is immutable objects
squad1 = ('Bernelli','Furuholen','Felix')
squad1

('Bernelli', 'Furuholen', 'Felix')

In [122]:
try:
    squad1[0] = 'Grace'
except:
    print("We could not update the tuples, as it's immutable")

We could not update the tuples, as it's immutable

In [137]:
# dictionary is how we stored the data as key-value pairs
def shoot():
    return print("Bang Bang")

squad_dict = {
    "fname": "Grace",
    "sname": "Bernelli",
    "town": "Coimbra",
    "specialty": "Rifles",
    "function": shoot
}

squad_dict

{'fname': 'Grace',
 'sname': 'Bernelli',
 'town': 'Coimbra',
 'specialty': 'Rifles',
 'function': <function __main__.shoot()>}

In [138]:
squad_dict["function"]

In [139]:
# update dict values, noted that dictionary is mutable objects
# we couldn't use indexing to access data, we could use only key string
squad_dict["fname"] = "Lorch"
squad_dict

{'fname': 'Lorch',
 'sname': 'Bernelli',
 'town': 'Coimbra',
 'specialty': 'Rifles',
 'function': <function __main__.shoot()>}

In [141]:
# another one is using get, in case the code couldn't find the string, it will returns nothing.
squad_dict.get("fname")

'Lorch'

In [142]:
# add the key onto dictionary
squad_dict["stance"] = "Tactical Blaster"
squad_dict

{'fname': 'Lorch',
 'sname': 'Bernelli',
 'town': 'Coimbra',
 'specialty': 'Rifles',
 'function': <function __main__.shoot()>,
 'stance': 'Tactical Blaster'}

In [143]:
# set is list of unique values
fruits = {'Apple', 'Apple', 'Banana', 'Melon'}
fruits

{'Apple', 'Banana', 'Melon'}

In [145]:
# casting queries as set
fruitlist = ['Apple', 'Apple', 'Banana', 'Melon']
fruitset = set(fruitlist)
fruitset

{'Apple', 'Banana', 'Melon'}