In [58]:
# import the required packages: this file we mainly use pandas
import pandas as pd

In [59]:
import matplotlib.pyplot as plt

In [60]:
# import the .csv files from source as dataframe
df = pd.read_csv("sample-store.csv")

In [61]:
# preview the first 5 rows
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country/Region,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2019-152156,11/8/2019,11/11/2019,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2019-152156,11/8/2019,11/11/2019,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2019-138688,6/12/2019,6/16/2019,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2018-108966,10/11/2018,10/18/2018,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2018-108966,10/11/2018,10/18/2018,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [62]:
# call for shape of dataframe >> 9994 rows, 21 cols
df.shape

(9994, 21)

In [63]:
# call for information (no. of rows, datatype of each cols)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Row ID          9994 non-null   int64
 1   Order ID        9994 non-null   object
 2   Order Date      9994 non-null   object
 3   Ship Date       9994 non-null   object
 4   Ship Mode       9994 non-null   object
 5   Customer ID     9994 non-null   object
 6   Customer Name   9994 non-null   object
 7   Segment         9994 non-null   object
 8   Country/Region  9994 non-null   object
 9   City            9994 non-null   object
 10  State           9994 non-null   object
 11  Postal Code     9983 non-null   float64
 12  Region          9994 non-null   object
 13  Product ID      9994 non-null   object
 14  Category        9994 non-null   object
 15  Sub-Category    9994 non-null   object
 16  Product Name    9994 non-null   object
 17  Sales           9994 non-null   float64
 18  Quantity        9994 non-null   int64
 19  Discount        9994 non-null   float64
 20  Profit          9994 non-null   float64
dtypes: float64(4), int64(2), object(15)
memory usage: 1.6+ MB

In [64]:
# TODO - convert order date and ship date to datetime in the original dataframe
df["Order Date"] = pd.to_datetime(df["Order Date"], format='%m/%d/%Y')

In [65]:
df["Ship Date"] = pd.to_datetime(df["Ship Date"],format = '%m/%d/%Y')

In [66]:
# TODO - count NaN in postal code column
df["Postal Code"].isna().sum()

11

In [67]:
# TODO - filter the rows with missing values
## we found that only 'Postal Code' is the one col with NaN values so we will filter the rows which have the specified condition
df[df["Postal Code"].isna()]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country/Region,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
2234,2235,CA-2020-104066,2020-12-05,2020-12-10,Standard Class,QJ-19255,Quincy Jones,Corporate,United States,Burlington,...,NaN,East,TEC-AC-10001013,Technology,Accessories,Logitech ClearChat Comfort/USB Headset H390,205.03,7,0.0,67.6599
5274,5275,CA-2018-162887,2018-11-07,2018-11-09,Second Class,SV-20785,Stewart Visinsky,Consumer,United States,Burlington,...,NaN,East,FUR-CH-10000595,Furniture,Chairs,Safco Contoured Stacking Chairs,715.20,3,0.0,178.8000
8798,8799,US-2019-150140,2019-04-06,2019-04-10,Standard Class,VM-21685,Valerie Mitchum,Home Office,United States,Burlington,...,NaN,East,TEC-PH-10002555,Technology,Phones,Nortel Meridian M5316 Digital phone,1294.75,5,0.0,336.6350
9146,9147,US-2019-165505,2019-01-23,2019-01-27,Standard Class,CB-12535,Claudia Bergmann,Corporate,United States,Burlington,...,NaN,East,TEC-AC-10002926,Technology,Accessories,Logitech Wireless Marathon Mouse M705,99.98,2,0.0,42.9914
9147,9148,US-2019-165505,2019-01-23,2019-01-27,Standard Class,CB-12535,Claudia Bergmann,Corporate,United States,Burlington,...,NaN,East,OFF-AR-10003477,Office Supplies,Art,4009 Highlighters,8.04,6,0.0,2.7336
9148,9149,US-2019-165505,2019-01-23,2019-01-27,Standard Class,CB-12535,Claudia Bergmann,Corporate,United States,Burlington,...,NaN,East,OFF-ST-10001526,Office Supplies,Storage,Iceberg Mobile Mega Data/Printer Cart,1564.29,13,0.0,406.7154
9386,9387,US-2020-127292,2020-01-19,2020-01-23,Standard Class,RM-19375,Raymond Messe,Consumer,United States,Burlington,...,NaN,East,OFF-PA-10000157,Office Supplies,Paper,Xerox 191,79.92,4,0.0,37.5624
9387,9388,US-2020-127292,2020-01-19,2020-01-23,Standard Class,RM-19375,Raymond Messe,Consumer,United States,Burlington,...,NaN,East,OFF-PA-10001970,Office Supplies,Paper,Xerox 1881,12.28,1,0.0,5.7716
9388,9389,US-2020-127292,2020-01-19,2020-01-23,Standard Class,RM-19375,Raymond Messe,Consumer,United States,Burlington,...,NaN,East,OFF-AP-10000828,Office Supplies,Appliances,Avanti 4.4 Cu. Ft. Refrigerator,542.94,3,0.0,152.0232
9389,9390,US-2020-127292,2020-01-19,2020-01-23,Standard Class,RM-19375,Raymond Messe,Consumer,United States,Burlington,...,NaN,East,OFF-EN-10001509,Office Supplies,Envelopes,Poly String Tie Envelopes,2.04,1,0.0,0.9588
9741,9742,CA-2018-117086,2018-11-08,2018-11-12,Standard Class,QJ-19255,Quincy Jones,Corporate,United States,Burlington,...,NaN,East,FUR-BO-10004834,Furniture,Bookcases,"Riverside Palais Royal Lawyers Bookcase, Royal...",4404.90,5,0.0,1013.1270

In [68]:
# TODO - explore this dataset on your owns, ask your own questions

In [69]:
# find out the top 20 monthly performer by segment >>> this shows that sales of this shop is mainly from consumer products.
df.Sales.groupby([df["Ship Date"].dt.strftime("%y-%m"),df["Segment"]]).sum().sort_values(ascending=False).head(20)

Ship Date  Segment
17-09      Consumer       55994.9305
19-12      Consumer       54425.2410
20-12      Consumer       51586.5750
20-11      Consumer       49011.3668
17-11      Consumer       46238.7300
20-09      Consumer       44165.1530
19-09      Consumer       42363.4046
20-11      Corporate      42014.3542
18-12      Consumer       38940.5595
19-12      Corporate      38083.0050
17-12      Consumer       37889.7405
18-09      Consumer       37266.3670
19-11      Consumer       35820.9438
20-03      Consumer       33326.7390
20-08      Consumer       32347.8320
17-03      Home Office    31366.9760
20-10      Home Office    30529.8390
18-11      Consumer       30171.5842
19-10      Corporate      29753.8183
19-05      Consumer       29116.2930
Name: Sales, dtype: float64

In [70]:
# group sales by region
df.Sales.groupby(df.Region).sum().sort_values(ascending=False)

Region
West       725457.8245
East       678781.2400
Central    501239.8908
South      391721.9050
Name: Sales, dtype: float64

In [71]:
# TODO 01 - how many columns, rows in this datasets >> 9994 rows, 21 columns
df.shape

(9994, 21)

In [72]:
# TODO 02 - is there any missing values?, if there is , which columns, how many nan values >> only found in 'Postal Code' column, 11 rows found
df.isna().sum()

Row ID             0
Order ID           0
Order Date         0
Ship Date          0
Ship Mode          0
Customer ID        0
Customer Name      0
Segment            0
Country/Region     0
City               0
State              0
Postal Code       11
Region             0
Product ID         0
Category           0
Sub-Category       0
Product Name       0
Sales              0
Quantity           0
Discount           0
Profit             0
dtype: int64

In [73]:
# TODO 03 - your friend is ask for 'California' data, filter and export as .csv files
result = df[df.State == 'California']
#result.to_csv("Stores_CA.csv")

In [74]:
df["Order Date"].dt.year

0       2019
1       2019
2       2019
3       2018
4       2018
        ...
9989    2017
9990    2020
9991    2020
9992    2020
9993    2020
Name: Order Date, Length: 9994, dtype: int64

In [75]:
# TODO 04 - your friend ask for all order data in 'California' and 'Texas' in 2017 (look at order date), send him .csv files
result_2 = df[((df.State == 'California') | (df.State == 'Texas')) & (df['Order Date'].dt.year == 2017)]
#result_2.to_csv("Stores_CA_TX_2017.csv")

In [76]:
# TODO 05 - how much total sales, average sales, and standard deviation of sales your company make in 2017
df_17 = df[df['Order Date'].dt.year == 2017]
print(f"Total sales of 2017 == {df_17.Sales.sum()}")
print(f"Average sales of 2017 == {df_17.Sales.mean()}")
print((f"Standard Deviation of sales in 2017 == {df_17.Sales.std()}"))

Total sales of 2017 == 484247.4981
Average sales of 2017 == 242.97415860511836
Standard Deviation of sales in 2017 == 754.0533572593688

In [77]:
# crosscheck the answer
df_17.Sales.describe()

count     1993.000000
mean       242.974159
std        754.053357
min          0.852000
25%         16.224000
50%         51.968000
75%        218.750000
max      22638.480000
Name: Sales, dtype: float64

In [78]:
# TODO 06 - which segment has the highest profit in 2018 >> Consumer Segment by 266535.93 USD in the year.
df[df["Order Date"].dt.year == 2018].groupby("Segment").Sales.sum()

Segment
Consumer       266535.9333
Corporate      128757.3069
Home Office     75239.2688
Name: Sales, dtype: float64

In [79]:
# TODO 07 - which top 5 States have the least total sales between 15 April 2019 - 31 December 2019
df[(df["Order Date"] >= '2019-04-15') & (df["Order Date"] <= '2019-12-31')].\
    groupby("State").Sales.sum().sort_values(ascending=False).head(5)

State
California      105632.9565
New York         56873.9340
Texas            31114.3390
Pennsylvania     28207.2940
Michigan         26675.8110
Name: Sales, dtype: float64

In [80]:
# TODO 08 - what is the proportion of total sales (%) in West + Central in 2019 e.g. 25% 
sales_19_west_cen = df[((df.Region == "West") | (df.Region == "Central")) & (df["Order Date"].dt.year == 2019)].Sales.sum()
sales_19_nationwide = df[df["Order Date"].dt.year == 2019].Sales.sum()
print(f"In 2019, sales portion of West and Central is {(sales_19_west_cen / sales_19_nationwide)*100}%, compared to Nationwide sales.")

In 2019, sales portion of West and Central is 54.97479891837763%, compared to Nationwide sales.

In [81]:
# TODO 09 - find top 10 popular products in terms of number of orders vs. total sales during 2019-2020
## find the 10 most popular products sorted by no. of orders during 2019 - 2020
df[(df["Order Date"].dt.year >= 2019) & (df["Order Date"].dt.year <= 2020)]\
    .groupby("Product Name")["Order ID"].count().sort_values(ascending=False).head(10)

Product Name
Easy-staple paper                                  27
Staples                                            24
Staple envelope                                    22
Staples in misc. colors                            13
Staple remover                                     12
Storex Dura Pro Binders                            12
Chromcraft Round Conference Tables                 12
Global Wood Trimmed Manager's Task Chair, Khaki    11
Avery Non-Stick Binders                            11
Staple-based wall hangings                         10
Name: Order ID, dtype: int64

In [82]:
## find the 10 most popular products sorted by Sales amount during 2019 - 2020
df[(df["Order Date"].dt.year >= 2019) & (df["Order Date"].dt.year <= 2020)]\
    .groupby("Product Name")["Sales"].sum().sort_values(ascending=False).head(10)

Product Name
Canon imageCLASS 2200 Advanced Copier                 61599.824
Hewlett Packard LaserJet 3310 Copier                  16079.732
3D Systems Cube Printer, 2nd Generation, Magenta      14299.890
GBC Ibimaster 500 Manual ProClick Binding System      13621.542
GBC DocuBind TL300 Electric Binding System            12737.258
GBC DocuBind P400 Electric Binding System             12521.108
Samsung Galaxy Mega 6.3                               12263.708
HON 5400 Series Task Chairs for Big and Tall          11846.562
Martin Yale Chadless Opener Electric Letter Opener    11825.902
Global Troy Executive Leather Low-Back Tilter         10169.894
Name: Sales, dtype: float64

In [83]:
# TODO 10 - plot at least 2 plots, any plot you think interesting
# sales distribution by segment
plt.figure()
df.Sales

0       261.9600
1       731.9400
2        14.6200
3       957.5775
4        22.3680
          ...
9989     25.2480
9990     91.9600
9991    258.5760
9992     29.6000
9993    243.1600
Name: Sales, Length: 9994, dtype: float64

In [89]:
df_sales_segment = pd.DataFrame(
    {
        "CS": df.Sales[df.Segment == "Consumer"],
        "CP": df.Sales[df.Segment == "Corporate"],
        "HO": df.Sales[df.Segment == "Home Office"]
    },
    columns = ["Consumer","Corporate","Home Office"],
)

In [88]:
df.Sales[df.Segment == "Home Office"]

14       68.8100
15        2.5440
34       29.4720
37      113.3280
38      532.3992
          ...
9975     13.3600
9976    249.5840
9977     13.8600
9978     13.3760
9979    437.4720
Name: Sales, Length: 1783, dtype: float64

In [90]:
df_sales_segment

Empty DataFrame
Columns: [Consumer, Corporate, Home Office]
Index: []

In [86]:
df[df.Segment == "Consumer"]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country/Region,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2019-152156,2019-11-08,2019-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2019-152156,2019-11-08,2019-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
3,4,US-2018-108966,2018-10-11,2018-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2018-108966,2018-10-11,2018-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
5,6,CA-2017-115812,2017-06-09,2017-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032.0,West,FUR-FU-10001487,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Access...,48.8600,7,0.00,14.1694
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,CA-2017-110422,2017-01-21,2017-01-23,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,33180.0,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028
9990,9991,CA-2020-121258,2020-02-26,2020-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627.0,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332
9991,9992,CA-2020-121258,2020-02-26,2020-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627.0,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932
9992,9993,CA-2020-121258,2020-02-26,2020-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627.0,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200
9993,9994,CA-2020-119914,2020-05-04,2020-05-09,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,92683.0,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480

In [87]:
# TODO Bonus - use np.where() to create new column in dataframe to help you answer your own questions